<!-- Group Project Assignment 3
G01388668 Mrunmayee Bhagwat
G01411756 Priyesh Patil
G01368980 Srinath Silla
G01413450 Bhavya Sree Pannem -->
<!-- HTML template file for Student Survey-->
<h3>Student Survey Form</h3>
<div class="container mt-5" id="survey">
  <div class="header-box mb-5">
    <h1 class="text-center">CS Department Survey</h1>
  </div>
  <!-- Form that stores the data to the backend on clicking Submit -->
  <form (ngSubmit)="onSubmit()" #createStudent=ngForm>
    <!-- Since there is no server side script associated, action is kept blank-->
    <div class="mb-1">
      <label for="firstname" class="form-label h5 required-label"
        >First Name:</label
      >
      <!-- autocomplete feature enabled along with required label-->
      <input
        type="text"
        class="form-control"
        id="firstname"
        name="firstname"
        [(ngModel)]="student.firstName"
        required
        class="form-control short-input"
        autocomplete="on"
        autofocus
        #firstName="ngModel"
      /><br />
      <!-- <div *ngIf="dateError" class="error-message" id="dateError">
        firstName is required.
      </div> -->
    </div>
    <div class="mb-1">
      <label for="lastname" class="form-label h5 required-label"
        >Last Name:</label
      >
      <!-- autocomplete feature enabled along with required label-->
      <input
        type="text"
        id="lastname"
        name="lastname"
        [(ngModel)]="student.lastName"
        required
        class="form-control short-input"
        autocomplete="on"
        autofocus
      /><br />
    </div>

    <div class="mb-1">
      <label for="Address" class="form-label h5 required-label"
        >Street Address Line 1:</label
      >
      <input
        type="text"
        id="Address"
        name="Address"
        [(ngModel)]="student.streetAddress"
        required
        class="form-control short-input"
        autocomplete="on"
      /><br />
    </div>

    <div class="mb-1">
      <label for="city" class="form-label h5 required-label">City:</label>
      <input
        type="text"
        id="city"
        name="city"
        [(ngModel)]="student.city"
        required
        class="form-control short-input"
        placeholder="eg: Fairfax"
        autocomplete="on"
      /><br />
    </div>

    <div class="mb-1">
      <label for="state" class="form-label h5 required-label">State:</label>
      <input
        type="text"
        id="state"
        name="state"
        [(ngModel)]="student.state"
        required
        class="form-control short-input"
        placeholder="eg: VA"
        autocomplete="on"
      /><br />
    </div>

    <div class="mb-1">
      <label for="zipcode" class="form-label h5 required-label">Zipcode:</label>
      <input
        type="text"
        id="zipcode"
        name="zipcode"
        [(ngModel)]="student.zip"
        required
        class="form-control short-input"
        placeholder="eg: 22030"
        autocomplete="on"
      /><br />
    </div>

    <div class="mb-1">
      <label for="telephone" class="form-label h5 required-label"
        >Telephone:</label
      >
      <input
        type="text"
        id="telephone"
        name="telephone"
        [(ngModel)]="student.telephone"
        required
        class="form-control short-input"
        placeholder="XXX-XXX-XXXX"
        autocomplete="on"
      /><br />
    </div>

    <div class="mb-1">
      <label for="email" class="form-label h5 required-label">Email:</label>
      <input
        type="text"
        id="email"
        name="email"
        [(ngModel)]="student.email"
        required
        class="form-control short-input"
        placeholder="eg: xxx@xx.xxx"
        autocomplete="on"
      /><br />
    </div>

    <div class="mb-1">
      <label for="date" class="form-label h5 required-label"
        >Date of Survey:</label
      >
      <input
        type="date"
        id="date"
        name="date"
        [(ngModel)]="student.date"
        required
        class="form-control short-input"
        placeholder
        autocomplete="on"
      /><br />
      
    </div>
    <!-- Checkboxes allowing multiple selections-->
    <div class="mb-1">
      <h5 class="form-label h5">What did you like most about the campus?</h5>
    </div>

    <div class="mb-3">
      <!-- Check boxes to display most liked about the campus -->
      <div
        class="form-check"
        *ngFor="let option of student.likedOptions | keyvalue"
      >
        <input
          class="form-check-input"
          type="checkbox"
          [(ngModel)]="student.likedOptions[option.key]"
          [id]="'liked_option_' + option.key"
          name="liked[]"
          [value]="option.key"
          [checked]="student.likedOptions[option.key]"
        />
        <label
          class="form-check-label h6"
          [for]="'liked_option_' + option.key"
          >{{ option.key }}</label
        >
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </div>
    </div>

    <div class="mb-3">
      <fieldset>
        <legend class="form-label h5">How did you hear about us?</legend>
        <!-- Radio buttons about how they heard about the college-->
        <div
          class="form-check"
          *ngFor="let option of student.sourceOfInterestOptions | keyvalue"
        >
          <input
            class="form-check-input"
            type="radio"
            id="{{ option.key }}"
            name="hear_about"
            [(ngModel)]="student.sourceOfInterest"
            [value]="option.key"
            [checked]="student.sourceOfInterest === option.key"
          />
          <label class="form-check-label h6" [for]="option.key">{{
            option.value
          }}</label>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
      </fieldset>
    </div>

    <div class="mb-3">
      <label for="comments" class="form-label h5">Additional Comments:</label>
      <textarea
        id="comments"
        name="comments"
        [(ngModel)]="student.comments"
        rows="4"
        class="form-control short-input"
      ></textarea>
    </div>

    <div class="mb-3">
      <label for="recommendation" class="form-label h5 required-label"
        >Likelihood of Recommending:</label
      >
      <select
        id="recommendation"
        name="recommendation"
        class="form-select"
        [(ngModel)]="student.likelihoodToRecommend"
      >
        <option value="very_likely">Very Likely</option>
        <option value="likely">Likely</option>
        <option value="unlikely">Unlikely</option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary mt-3 custom-button">
      Submit
    </button>
      <button class="btn btn-secondary" type="button" onclick="location.reload();">Cancel</button>
  </form>

<div class="modal fade" id="showAcknowledgementModal" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Acknowledgement</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="ack-modal">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


</div>

<script>
  
</script>
