/* Style the navbar */
.navbar {
    color: #008000; /* Green color for the background */
    margin-top: 0px;
  }
  
  /* Style the navbar links */
  .navbar-nav .nav-item .nav-link {
    color: #fff; /* White color for the text */
  }
  
  /* Style the active link */
  .navbar-nav .nav-item .nav-link.active {
    font-weight: bold;
    color: #fff; /* Black color for the active link */
  }
  
  /* Hover effect on the links */
  .navbar-nav .nav-item .nav-link:hover {
    color: #fff; /* Black color for the hover effect */
  }